.title {
	display: inline-block;
	width: 50%;
}

canvas {
	float: right;
	margin: 15px 0;
}

.menu {
	display:block;
	margin:auto;
	width: 70%;
}

.menu > ul {
	text-align: center;
}

.menu > ul > li {
	display: inline-table;
}

.menu > ul > li > button{
	padding: 10px;
	margin: 10px;
	background-color: green;
}

.menu > ul > li > ul {
	display: none;
}

.content {
	display:block;
}
