$whole-page-background: #fcfcbb;
$white: #fff;
$black: #000;
$gold: #FFD700;

@keyframes slidein {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0);
	}

}

@media screen and (min-width: 1024px) {

	html, body {
		margin: 0;
		height: 100%;
		background-color: $whole-page-background;
		font-family: sans-serif;
	}

	.menu-container {
		display: block;
		background-color: $white;
		padding: .5em 0;
		font-size: 1.4em;

		.home-button-name {
			display: inline-block;
		}

		.home-button {
			padding: 0;
			display: inline-block;
			width: 25%;

			a {
				height: auto;
				text-decoration: none;
				border-style: solid;
				border-width: thin;
				padding: 0.3em;
				border-radius: 0.3em;
				background-color: #f5f5f5;
				margin: 0 0.4em;

				img {
					display: inline-block;
					height: 1em;
					vertical-align: top;
				}
			}

			a:link,
			a:visited,
			a:focus {
				color: $black;
			}

			a:hover {
				background-color: $white;
			}

			a:active {
				background-color: $gold;
			}

		}

		.menu {
			display:inline-block;
			margin:auto;
			width: 50%;

			> ul {
				text-align: center;
				margin: 0;
				padding: 0;
			}

			// menu buttons
			> ul > li {
				display: inline-table;

				> a {
					display: inline-block;
					padding: .5em;
					margin: 0 .5em;
					font-family: sans-serif;
					border: solid 0.1em $white;
					border-top-color: $gold;

					color: $black;
					text-decoration: none;

				}

				> a:hover {
					background-color: $gold;
					border: solid 0.1em $gold;
					border-radius: 0.2em;
				}
			}
		}
	}

	.desktop-home-button {
		display: inline-block;
	}

	.mobile-home-button {
		display: none;
	}

	.space {
		display: inline-block;
		width: auto;
	}

	.hidden {
		display: none;
	}


	.sections {
			margin: 0;
	}

	.home {
		padding: 0 3em;
		font-size: 1.4em;
		// text-align: center;

	 	> p {
		font-family: sans-serif;
		}

		button {
			border-radius: .5em;
			background-color: $gold;
			border-color: $gold;
			padding: 0;

			a {
				display: inline-block;
				text-decoration: none;
				font-size: 1.6em;
				padding: 1em;
			}

			a:link,
			a:visited,
			a:hover,
			a:active,
			a:focus  {
				color: $black;
			}
		}
	}

	.repositories {
		padding: 0 3em;
		font-size: 1.4em;

		ul {
			padding: 0;
		}

		> p {
		font-family: sans-serif;
		}
	}

	.repository-list li {
		list-style-type: none;
		width: 12em;
		margin: 0.3em;
		display: inline-block;
		vertical-align: middle;


			a {
				text-decoration: none;
				display: block;
				padding: 0.4em;
				border: solid 0.3em $white;
				border-right-color: green;
				background-color: $white;
				border-radius: 0.2em;
			}

			a:link,
			a:visited,
			a:hover,
			a:active,
			a:focus  {
				color: $black;
			}

			> a:hover {
				background-color: $gold;
				border: solid 0.3em $gold;
				border-radius: 0.2em;
			}

	}

	.projects {
		padding: 0 3em;
		font-size: 1.4em;

		> p {
		font-family: sans-serif;
		}
	}

	.projects-list {
		display: inline-block;
		padding: 0;
	}

	.projects-list li {
		list-style-type: none;
		width: 11.9em;
		margin: 0.3em;
		display: inline-block;
		animation-name: slidein;
		vertical-align: middle;


		@for $i from 1 to 100 {
			&:nth-child(#{$i}) {
				animation-duration: 0.1s * $i;
			}
		}

		a {
			text-decoration: none;
			display: block;
			padding: 0.4em;
			border: solid 0.3em $white;
			border-right-color: $gold;
			background-color: $white;
			border-radius: 0.2em;
		}

		a.available {
			border-right-color: green;
		}

		a:link,
		a:visited,
		a:hover,
		a:active,
		a:focus  {
			color: $black;
		}

		> a:hover {
			background-color: $gold;
			border: solid 0.3em $gold;
			border-radius: 0.2em;
		}
	}


}
