.menu-container {
  display: block;
  background-color: #002b36;
  padding: 0;
  display: table;
  width: 100%;
  font-size: $normal;

  .home-button {
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    width: 25%;

    .home-button__link {
      text-decoration: none;
      border-style: solid;
      border-width: thin;
      border-radius: $border-radius;
      background-color: #f5f5f5;
      display: inline-block;
      margin: 10px;

      .home-button__link-container {
        display: table;
        padding: 10px;
      }

      img {
        display: table-cell;
        height: $normal;
        vertical-align: middle;
      }

      .home-button__name {
        display: table-cell;
        vertical-align: middle;
        padding: 0 0 0 5px;
      }
    }

    .home-button__link:link,
    .home-button__link:visited,
    .home-button__link:focus {
      color: black;
    }

    .home-button__link:hover,
    .home-button__link:active {
      background-color: $white;
    }
  }

  .menu {
    display: table-cell;
    vertical-align: middle;
    width: 75%;
    text-align: left;

    > ul {
      margin: 0;
      padding: 0;
    }

    // menu buttons
    > ul > li {
      display: inline-table;

      > a {
        display: inline-block;
        margin: 10px;
        padding: 10px;
        border: solid 1px $white;
        text-decoration: none;
        border-radius: $border-radius;
        background-color: $light-grey;
        color: black;
        cursor: pointer;
      }

      > a:link,
      > a:visited {
        background-color: $light-grey;
        color: black;
      }

      > a:hover,
      > a:focus,
      > a:active {
        background-color: $white;
        color: black;
      }
    }
  }
}

@media screen and (max-width: 1023px) {

  .menu-container {
    display: none;
  }
}
