.mobile-menu {
  display: none;
}

@media screen and (max-width: 1023px) {

  .mobile-menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: $dark-blue;
    display: block;

    ul {
      position: absolute;
      bottom: 0;
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
      display: block;
      background-color: $dark-blue;

      li {
        text-decoration: none;

        a.mobile-menu__link {
          font-size: $normal;
          text-align: center;
          display: block;
          margin: 10px;
          padding: 10px;
          font-family: sans-serif;
          border: solid 1px $white;
          text-decoration: none;
          border-radius: $border-radius;
          background-color: $light-grey;
          color: black;
          cursor: pointer;
        }

        a.mobile-menu__link:link,
        a.mobile-menu__link:visited {
        }

        a.mobile-menu__link:hover,
        a.mobile-menu__link:focus,
        a.mobile-menu__link:active {
          background-color: $white;
          color: black;
        }
      }
    }

    ul.hidden {
      display: none;
    }

    .mobile-menu__container {
      position: relative;
    }

    .mobile-menu__open-menu {
      display: block;
      font-size: $normal;
      text-align: center;
      height: 100%;

      .mobile-menu__open-menu-text {
        display: table;
        width: 100%;
        height: 100%;
        cursor: pointer;

        span {
          display: table-cell;
          vertical-align: middle;
          color: $white;
        }
      }
    }
  }
}
