$whole-page-background: #fcfcbb;
$white: #fff;
$black: #000;
$gold: #FFD700;

html, body {
	margin: 0;
	height: 100%;
	background-color: $whole-page-background;
	font-family: sans-serif;
}

.menu-container {
	background-color: $white;
	padding: .5em 0;
	font-size: 1.4em;

	.menu {
		display:block;
		margin:auto;
		width: 70%;

		> ul {
			text-align: center;
			margin: 0;
			padding: 0;
		}

		// menu buttons
		> ul > li {
			display: inline-table;
			> a{
				display: inline-block;
				padding: .5em;
				margin: 0 .5em;
				font-family: sans-serif;
				border: solid 0.3em $white;
				border-top-color: $gold;

				color: $black;
				text-decoration: none;

			}

			> a:hover {
				background-color: $gold;
				border: solid 0.3em $gold;

			}
		}

		//sub menu buttons

		// .submenu
		> ul > li > ul {
			padding: 0;
			margin: 0 .5em;
			list-style-type: none;
		}

		> ul > li > ul > li {
			list-style: none;
			text-align: left;
			background-color: $white;
			padding: 0 1.518em 0 0;

			a {
				display: inline-block;
				width: 100%;
				padding: .8em .5em;
				margin: .3em 0;
				text-decoration: none;
				border: solid 0.3em $white;
				border-left-color: $gold;
			}

			a:link,
			a:visited,
			a:active,
			a:focus  {
				color: $black;
			}

			a:hover{
				background-color: $gold;
				border: solid 0.3em $gold;

			}

		}
	}
}

.sub-menu.hidden {
	display: none;
}

.sub-menu.shown {
	display: block;
	position: absolute;
}

.content {
	display:block;
	margin: 0 3em;
	font-size: 1.4em;

	> h2 {
		font-family: sans-serif;
	}

}


.content > p {
	font-family: sans-serif;

	button {
		padding: 1em;
		border-radius: .6em;

		a {
			text-decoration: none;
			font-size: 1.6em;
		}

		a:link,
		a:visited,
		a:hover,
		a:active,
		a:focus  {
			color: $black;
		}
	}
}

@media screen and (max-width: 720px) {
	.menu > ul > li {
		display: block;
	}


}
